.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
figcaption{
opacity: 0;
}
h1{
    font-style: italic;
    text-align: center;
}
.pic:hover{
    figcaption {
        opacity: 1;
    }
    img {
        opacity: 0.5;
    }
}