[submodule "2nd_SEMESTER/JS-Training-CSIT-Second-Sem"]
	path = 2nd_SEMESTER/JS-Training-CSIT-Second-Sem
	url = https://github.com/Dinesh-Nyaupane/JS-Training-CSIT-Second-Sem.git
	branch = gaurav-gautam
