* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f5f7;
}

#formdiv {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#btn {
  background-color: #c82333;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: #dc3545;
}

#list {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

#list li {
  display: flex;
  background-color: #f8f9fa;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list li button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

#list li button:hover {
  background-color: #c82333;
}