* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: "Poppins", serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: gray;
}

header ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .services {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

 main .services .circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  font-weight: bold;
}

main .services .design {
  background: #e74c3c;
  color: white;
}

main .services  .develop {
  background: #f39c12;
  color: white;
}

main .services .support {
  background: #27ae60;
  color: white;
}

main .services .host {
  background: #3498db;
  color: white;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work .work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.work .work-item img {
  width: 100%;
  border-radius: 10px;
}

  